.form-main,
.condition {
  width: 90%;
  margin-left: 5%;
}

.field-expiry1 input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 15px;
  color: #868686;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: none;
  background: #e3edf7;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 5px #c5d7ee;
  border-radius: 4px;
}

.field-expiry {
  display: flex;
  flex-direction: row;
  position: relative;
}
.form-main .field-expiry span {
    display: block;
    margin: 20px 0 10px 0;
    color: #232E42;
}

div.select-text{
  font-size: 14px;
  font-weight: 400;
}
.condition {
  margin: 25px 0 15px 5%;
}

.condition-checkbox{
  vertical-align: bottom;
}
.condition-link {
  margin-left: 2px;
}
.condition-text{
  font-size: 14px;
  color: #232E42;
}
.field-dateTime{
  display: grid;
  grid-template-columns: 2fr;
}
