.select-number{
    padding:20px;
  }

  .enter-number{
    position: relative;
  }

  
  .contact-details{
    padding: 20px;
  }
  .amount span{
    padding: 3px 5px;
    background: #fff;
    border-radius: 50px;
    display: inline-block;
    margin: 2px;
    border: 1px solid #cdd1e0;
    width: 17%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: #475278 ;
  }
  .person-details .item{
    color: #475278 ;
    font-size: 14px;
  }
  .person-details img{
    border: 2px solid #fff;
  }
  .person-details .item span{
    color: #8d96b3 ;
  }
  .next-main-div {
    position: relative;
  
  }



  .profile{
    position:relative;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .profile-pic{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius:1000px;
    border:5px solid #fff;
    overflow: hidden;
    margin-right: 15px;
    vertical-align: middle;
    position: absolute;
    top:-60px;
    left: 50%;
    margin-left: -60px;
  }
  .verify{
    position:absolute;
    top: -10px;
    left: 15px;
    background: #5ECB76;
    border:1px solid #61B76A;
    border-radius:100px;
    padding:5px 10px;
    font-size: 11px;
    color: #fff;
  }
  .emailVerify{
    top: -10px;
    left: 15px;
    background: #5ECB76;
    border:1px solid #61B76A;
    border-radius:100px;
    padding:5px 10px;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 50%;
    margin-left: 20%;
  }
  
  .edit-profile{
    position:absolute;
    top: -10px;
    right: 15px;
    background: #ffffff;
    border:1px solid #8c978e;
    border-radius:100px;
    padding:5px 10px;
    font-size: 11px;
    color: #475B6D;
  }
  .profile-details{
    font-size: 13px;
    margin-top: 2px;
    left: 0;
  }
  .profile-details table{
    width: 100%;
  }
  .profile-details th{
    text-align: right;
    padding:5px;
    color: #8097AB;
    font-weight: normal;
  }
  .profile-details td{
    padding:5px;
    color: #475B6D;
  }
  .profile-details tr{
    border-bottom: 1px solid #d0dbe6;
  }
  .nid{
    position:relative;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .nid img{
    max-width:100% ;
  }
 
  
  ion-spinner {
    width: 100%;
    height: 10%;
  }

  .numberDetails {
    font-size: 13px;
    margin-top: 6px;
    
}

.numberDetails table th{
  text-align: left;
  padding:5px;
  color: #8097AB;
  font-weight: normal;
}

div.contact-details2 {
    padding: 20px;
}
  
  