.heading-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(60, 58, 145, 1), rgba(149, 24, 193, 1));
  width: 100%;
  height: 150px;

  h2 {
    color: white;
    font-weight: bold;
  }
}

.form-main {
  align-items: center;
  justify-content: center;
  background: #e3edf7;
  padding: 30px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.text {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.63);
}

form {
  margin-top: 40px;
}



.field .fas {
  height: 50px;
  width: 60px;
  color: #868686;
  font-size: 20px;
  line-height: 50px;
  border: none;
  text-align: center;
  border-right: none;
  background: #dde1e7;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

// .next-btn {
//   margin-top: 40px;
//   border-radius: 5px !important;
//   font-weight: 600;
//   letter-spacing: 1px;
//   cursor: pointer;
//   box-shadow: -3px -3px 7px #fffdfdb7, 2px 2px 5px rgba(94, 104, 121, 0.288);
//   background: linear-gradient(rgba(60, 58, 145, 1), rgba(149, 24, 193, 1));
//   color: white;
// }

// .next-btn span {
//   position: absolute;
//   width: 45px;
//   height: 22px;
//   left: -20px;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 17px;
//   line-height: 22px;
//   text-align: center;
//   letter-spacing: 0.005em;
//   color: #ffffff;
// }

// ion-icon {
//   position: absolute;
//   width: 100%;
//   height: 22px;
//   right: -30px;
// }
.next-btn span {
  top: 16px;
}
ion-button {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  //padding: 0 15px;
  //border-radius: 0 5px 5px 0;
  border: none;
  // box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.condition-text {

  font-size: 13px;
  line-height: 14px;
  align-items: center;
  color: #000000;
}

.condition {
  margin: 20px 0;
}


.condition-link {
  margin-left: 2px;
}
.operator h3{
  font-size: 15px;
  margin-top: 20px;
  color: #475278;
}
.operator ul{
  margin: 0;
  padding: 0;
}
.operator ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  margin: 1%;
  display: inline-block;
  width: 18%;
  height: 56px;
  vertical-align: top;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  line-height: 50px;
}

.operator ul li.select{
  border:2px solid #C23ACE ;
}



.operator ul li img{
  max-width: 100%;
}