<div class="dashboard">



  <!-- Dashboard Heading -->

  <app-application-header></app-application-header>

  <!-- Link Button -->

  <div class="link-button">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{'billpayPage.apps' | translate}}
        </ion-col>
        <ion-col>
          {{'billpayPage.billPay' | translate}}
        </ion-col>
        <ion-col>
          {{'billpayPage.shopping' | translate}}
        </ion-col>
        <ion-col>
          {{'billpayPage.tution' | translate}}
        </ion-col>
        <ion-col>
          {{'billpayPage.food' | translate}}
        </ion-col>
        <ion-col>
          <ion-icon name="search"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Bill Pay Options -->



  <div class="bill-pay-option">
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>
    <div class="bill-pay-item"></div>


  </div>

  <!-- <div class="bill-pay-option">
    <div class="pay-options">
      <ion-grid >
        <ion-row >
          <ion-col class="pay-items">

          </ion-col>
          <ion-col class="pay-items">

          </ion-col>
          <ion-col class="pay-items">

          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="pay-items">

          </ion-col>
          <ion-col class="pay-items">

          </ion-col>
          <ion-col class="pay-items">

          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col class="pay-items">

          </ion-col>
          <ion-col class="pay-items">

          </ion-col>
          <ion-col class="pay-items">

          </ion-col>
        </ion-row>
        </ion-grid>
    </div>
  </div> -->

  <!-- Down Tab Bar -->
  <app-tab-footer></app-tab-footer>
</div>