<ion-content>

  <div *ngIf="!showTokenChip" class="forgetPass">
    <section class="heading-main">
      <h2>Forget Password</h2>
    </section>
    <section class="form-main">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <input type="text" formControlName="mobileNumber" placeholder="Enter Mobile Number"/>
        </div>
        <!--      <ion-text color="danger"  *ngIf="this.forgotPasswordForm.controls.mobileNumber.errors?.required">-->
        <!--        Number is required.-->
        <!--      </ion-text>-->

        <br/>
        <ion-button type="submit" color="default" class="login-btn">
          <span>Send</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </form>
    </section>
  </div>

  <!-- page after OTP page-->

  <div *ngIf="showTokenChip" class="forgetPass">
    <section class="heading-main">
      <h2>Forget Password</h2>
    </section>
    <section class="form-main">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForResetPin()">
        <div class="field">
          <input type="password" formControlName="newPassword" placeholder="New Password"/>
        </div>
        <div class="field">
          <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"/>
        </div>

        <br>

        <div class="input_otp">
<!--          <label>Token</label>-->
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        </div>
        <br/>
        <ion-button type="submit" color="default" class="login-btn">
          <span>Submit</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </form>
    </section>
  </div>

</ion-content>
