<app-application-header  [applicationHeader]="headerText" [hidden]="scanActive"></app-application-header>
<ion-content [style.--background]="scanActive ? '#00000000' : '#ffff'">
<!--  <ion-button expand="full" (click)="startScan()" [hidden]="scanActive">
    <ion-icon name="scan" slot="start"></ion-icon>
    Start Scan
  </ion-button-->

  <p class="ion-text-center" *ngIf="result && !scanActive"> {{result}}</p>

  <!-- <ion-row class="scanner-buttons">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()"> Stop Scan</ion-button>
    </ion-col>
  </ion-row> -->

  <div class="scan-box" [hidden]="!scanActive"></div>

  <div class="next-main-div">
    <ion-button color="default" [routerLink]="['/scan-details']" class="next-btn" *ngIf="result && !scanActive">
      <span>{{'sendMoneyPage.next' | translate}}</span>
      <ion-icon name="arrow-forward-outline" class="arrow-icon"></ion-icon>
    </ion-button>
  </div>

</ion-content>

<!-- <ion-button (click)="startScan()"> bar code scanner</ion-button> -->
