<ion-content scroll="true">
  <app-application-header [applicationHeader]="headerText"></app-application-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/add-beneficiary-account']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<div class="list-container">
  <ion-list>

    <div class="box-shadow item" href detail>
      <ion-avatar slot="start" class="ios hydrated">
        <img src="/assets/icon/prof_pic.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Md Nazrul Islam</h2>
        <p>A/C: 0200012589745</p>
        <p class="date">Dutch Bangla Bank Limited</p>
      </ion-label>
    </div>

    <div class="box-shadow item">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="/assets/icon/prof_pic.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Md Nazrul Islam</h2>
        <p>A/C: 0200012589745</p>
        <p class="date">Dutch Bangla Bank Limited</p>
      </ion-label>
    </div>

    <div class="box-shadow item">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="/assets/icon/prof_pic.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Md Nazrul Islam</h2>
        <p>A/C: 0200012589745</p>
        <p class="date">Dutch Bangla Bank Limited</p>
      </ion-label>
    </div>

    <div class="box-shadow item">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="/assets/icon/prof_pic.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Md Nazrul Islam</h2>
        <p>A/C: 0200012589745</p>
        <p class="date">Dutch Bangla Bank Limited</p>
      </ion-label>
    </div>

    <div class="box-shadow item">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="/assets/icon/prof_pic.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Md Nazrul Islam</h2>
        <p>A/C: 0200012589745</p>
        <p class="date">Dutch Bangla Bank Limited</p>
      </ion-label>
    </div>

    <div class="box-shadow item">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="/assets/icon/prof_pic.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Md Nazrul Islam</h2>
        <p>A/C: 0200012589745</p>
        <p class="date">Dutch Bangla Bank Limited</p>
      </ion-label>
    </div>

  </ion-list>
</div>
</ion-content>
