.list-container .item{
	padding: 15px;
	margin: 10px 5%;
}
.list-container ion-avatar {
	display: inline-block;
	width: 64px;
	height: 64px;
    margin-right: 20px;
    border: 3px solid #fff;
}

.list-container ion-label {
	display: inline-block;
	width: calc(100% - 90px);
}

p.date{
	color: #90A1B0;
	font-weight: normal;
}


/* sss */


* {
	box-sizing: border-box;
  }
  body {
	font-size: 14px;
  }

  .dashboard {
	width: 100%;
	height: 100%;
	display: block;
  }

  .dashboard-heading {
	display: flex;
	background: linear-gradient(rgba(60, 58, 145, 1), rgba(149, 24, 193, 1));
	flex-direction: row;
	width: 440px;
	height: 71px;
  }

  .back-icon {
	position: absolute;
	//background: url(/assets/icon/back.png);
	align-items: flex-start;
	color: #f1f1f1;
	top: 1rem;
	font-size: 2.5rem;
	//padding-bottom: 30px;
	cursor: pointer;
  }

  .heading-text {
	position: absolute;
	top: 1.5rem;
	left: -1.5rem;
	font-size: 1.5rem;
	padding-left: 11.25rem;
	align-items: center;
	color: #f1f1f1;
  }

  .heading-notification {
	position: relative;
	background: url(/assets/icon/notifications.png);
	align-self: flex-end;
	top: -1rem;
	left: 360px;
	color: #f1f1f1;
	font-size: 40px;
  }

  .form-main {
	position: relative;
	width: 90%;
	align-items: center;
	justify-content: center;
	background: #e3edf7;
	box-sizing: border-box;
  }
  .next-main-div{
	padding:10px  0;
  }

  .field textarea {
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #868686;
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #e3edf7;
    box-shadow: inset -4px -4px 9px rgb(255 255 255 / 60%), inset 4px 4px 5px #c5d7ee;
    border-radius: 4px;
}
