.mobile-recharge{
    padding:20px;
}
.mobile-recharge h3, .contact-details h3{
    font-size: 14px;
    margin-top: 0;
    color: #475278;
}
.operator ul{
    margin: 0;
    padding: 0;
}
.operator ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    margin: 2px;
    display: inline-block;
    width: 18%;
    height: 55px;
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    line-height: 50px;
}
.operator ul li img{
    max-width: 100%;
}
.enter-number{
    position: relative;
}

.enter-number h3{
    margin-top: 20px;
}

.operator-type{
    padding-top: 20px;
}
.operator-type .item{
    display: inline-block;
    padding-right: 25px;
    color: #475278;
}
.operator-type input{
    margin-right: 5px;
}
.contact-details{
    padding: 20px;
}
.amount span{
    padding: 3px 5px;
    background: #fff;
    border-radius: 50px;
    display: inline-block;
    margin: 2px;
    border: 1px solid #cdd1e0;
    width: 17%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: #475278 ;
}
.person-details .item{
    color: #475278 ;
    font-size: 14px;
}
.person-details img{
    border: 2px solid #fff;
}
.person-details .item span{
    color: #8d96b3 ;
}

.operator ul li.select{
    border:2px solid #C23ACE ;
  }

  .numberDetails {
    font-size: 13px;
    margin-top: 6px;
    
}

.numberDetails table th{
  text-align: left;
  padding:5px;
  color: #8097AB;
  font-weight: normal;
}
  
