.template {
    padding: 10px 50px 10px 20px;
    position: relative;
}
.template h3{
    color: #475278;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px;
}

.templ-right{
    width: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-left: 1px solid #ccc;
    background: url(/assets/icon/arrow-right.svg) center center no-repeat;
}
.total-amount {
    border-top: 1px solid #ccc;
    display: flex;
    font-weight: bold;
    padding-top: 5px;
    margin-top: 10px;
}
.total-amount span {
    width: 50%;
    text-transform: uppercase;
    font-size: 15px;
}
.total-amount span:last-child {
    text-align: right;
}

.msg {
    padding: 20px;
}

.msg h6{
    font-size: 11.5PX;
    font-weight: bold;
}



