<!-- <div *ngIf="showTokenChip" class="forgetPass"> -->
<div>
  <section class="heading-main">
    <h2>Change Password</h2>
  </section>
  <section class="form-main">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitForChangePin()">
      <div class="reg-validation">
        <div class="field">
          <input
            type="password"
            formControlName="oldPassword"
            position="floating"
            placeholder="Old Password"
          />
        </div>
        <ion-text
          color="danger"
          *ngIf="
            submitted &&
            this.changePasswordForm.controls.oldPassword.errors?.required
          "
        >
          Old password is required.
        </ion-text>
        <ion-label *ngIf="emptyPin" class="err-mess-lab" position="floating"
          >(Enter Password)</ion-label
        >
      </div>

      <div class="reg-validation">
        <div class="field">
          <input
            type="password"
            formControlName="newPassword"
            position="floating"
            placeholder="New Password"
          />
        </div>
        <ion-text
          color="danger"
          *ngIf="
            submitted &&
            this.changePasswordForm.controls.newPassword.errors?.required
          "
        >
          New password is required.
        </ion-text>
        <ion-label *ngIf="emptyPin" class="err-mess-lab" position="floating"
          >(Enter Password)</ion-label
        >
      </div>

      <div class="field">
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
      </div>
      <ion-label *ngIf="emptyPin" class="err-mess-lab" position="floating"
        >(Enter Password)</ion-label
      >
      <div
        *ngIf="submitted && f.confirmPassword.errors"
        class="invalid-feedback"
      >
        <ion-text
          color="danger"
          *ngIf="
            submitted &&
            this.changePasswordForm.controls.confirmPassword.errors?.required
          "
        >
          Confirm password is required.
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="
            submitted &&
            this.changePasswordForm.controls.confirmPassword.errors?.mustMatch
          "
        >
          Passwords must match
        </ion-text>
      </div>
      <br />

      <ion-button type="submit" color="default" class="login-btn">
        <span>Submit</span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </form>
  </section>
</div>
