.form-main,
.condition {
  width: 90%;
  margin-left: 5%;
}
.condition {
  margin-top: 15px;
}
.field-receiver{
  margin-top: 25px;
}
.receiver-input{
    padding-top: 10px;
}
.receiver-input img {
    max-width: 30px;
    height: auto;
}
.receiver-input *{
    display: inline-block;
    vertical-align: middle;
}
.receiver-input span{
    padding-left: 10px;
}
.field-receiver input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 15px;
  color: #868686;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: none;
  background: #e3edf7;
  //box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 5px #c5d7ee;
  border-radius: 4px;
}
.select-card {
    margin:10px 0;
    padding: 70px 20px;
    text-align: center;
    border: 1px dashed #ccc;
}
