.select-number{
  padding:20px;
}
.enter-number{
  position: relative;
}
.contact-details{
  padding: 20px;
}
.amount span{
  padding: 3px 5px;
  background: #fff;
  border-radius: 50px;
  display: inline-block;
  margin: 2px;
  border: 1px solid #cdd1e0;
  width: 17%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #475278 ;
}
.person-details .item{
  color: #475278 ;
  font-size: 14px;
}
.person-details img{
  border: 2px solid #fff;
}
.person-details .item span{
  color: #8d96b3 ;
}
.next-main-div {
  position: relative;
}

.numberDetails {
  font-size: 13px;
  margin-top: 6px;
  
}

.numberDetails table th{
text-align: left;
padding:5px;
color: #8097AB;
font-weight: normal;
}
